<div class="login-container">
    <h1>Login</h1>
    <form (submit)="onSubmit()">
      <div class="input-group">
        <input type="text" placeholder="CPF" [(ngModel)]="loginRequest.Cpf" name="cpf" required />
      </div>
      <div class="input-group">
        <input type="password" placeholder="Password" [(ngModel)]="loginRequest.Password" name="password" required />
      </div>
      <button type="submit">Login</button>
      <div *ngIf="errorMessage" class="error-message">
        {{errorMessage}}
      </div>
    </form>
  </div>